<!DOCTYPE html>
<html>
<head>
    <title>My First View!!</title>
</head>
<body>
  <p>
    <%= @number = params[:number] %>
    <%= @phrase = params[:phrase] %>
    <!--<%= @number.to_i.times do %>-->
      <!--<%= "#{@phrase}\n" %>-->
    <!--<%= end %>-->
  </p>
</body>
</html>
