# say_phrase.erb
<%# Write your code here! %>
<h1>Welcome!</h1>

<%= @number = params[:number] %>
<%= @phrase = parmas[:phrase] %>
<%= @number.to_i.times do %>
  <p><%= "#{@phrase}\n" %></p>
<%= end %>